.login-container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.login-card{
    display: flex;
    width: 50%;
    height: 600px;
    background-color: white;
    border-radius: 25px;
}

.login-left{
    flex: 1;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    padding: 30px;
    background:linear-gradient(rgba(39,11,96,0.8),rgba(39,11,96,0.8)),url("../../../public/assets/images/leftbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.login-left > h1{
    font-size: 80px;
    line-height: 100px;
}

.login-left > p{
    word-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
}

.but{
    align-self: center;
}

.but > button{
    width: 120px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 8px;
    transition: all .3s ease-in-out;
}

.but > button:hover{
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.login-right{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.login-right > form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-right > form > input,div > input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    width: 100%;
}

.login-right > form > div{
    position: relative;
    display: flex;
}

.login-right > form > div > img{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
    z-index: 1;
    color: #ccc;
}

.login-right > form > button{
    padding: 10px;
    border: none;
    background-color: aquamarine;
    width: 60%;
    align-self: center;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: black;
    transition: all .4s ease-in-out;
}

.login-right > form > button:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
}

.but1{
    display: none;
}

/* Extra Small Devices (Phones) */
@media (max-width: 575px) {
    /* Styles for extra small devices */

    .login-left{
        display: none;
    }

    .login-card{
        width: 90%;
        height: 400px;
    }

    .login-right{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .but1{
        align-self: center;
        display: block;
    }

    .login-card{
        height: 500px;
        width: 60%;
    }
}

/* Small Devices (Tablets) */
@media (min-width: 576px) and (max-width: 767px) {
    /* Styles for small devices */
    .login-left{
        display: none;
    }

    .login-right{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .but1{
        align-self: center;
        display: block;
    }

    .login-card{
        height: 500px;
        width: 60%;
    }
}

/* Medium Devices (Laptops and Small Desktops) */
@media (min-width: 768px) and (max-width: 991px) {

    /* Styles for medium devices */
    .login-left{
        display: none;
    }

    .login-right{
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .but1{
        align-self: center;
        display: block;
    }

    .login-card{
        height: 500px;
        width: 60%;
    }
}

/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199px) {

    .login-right{
        padding: 20px;
    }
    
}