.posts{
    margin-top: 20px;
}

.post{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    display: flex;
    flex-direction: column;
    gap:10px;
}

.headerPost{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftP{
    display: flex;
    align-items: center; 
    gap: 10px;   
}

.rightP{
    position: relative;
}

.rightP > button{
    background-color: #df475b;
    padding: 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    left: -15px;
    top: 20px;
    cursor: pointer;    
}

.rightP > button::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    opacity: .1;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.rightP > button:hover::before{
    visibility: visible;
}

.namePost > .name{
    font-size: 14px;   
    font-weight: 600;
}

.namePost > .timeline{
    font-size: 12px;
}

.possImg{
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
}

.footerPost{
    display: flex;
    gap: 10px;
}

.footerPost > div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
}